$color-blue: #1cfeff;
$color-red: #ff0022;
$color-black: #000;
$color-white: #fff;
$color-gray: #808080;

$font-size-extra-large: 24px;
$font-size-large: 18px;
$font-size-medium: 16px;
$font-size-small: 14px;

@font-face {
    font-family: "阿里妈妈数黑体 Bold";
    font-weight: 700;
    src: url("../font/q-ADVcvSQqAACBZEk73Le.woff2") format("woff2"),
        url("../font/q-ADVcvSQqAACBZEk73Le.woff") format("woff");
    font-display: swap;
}

@mixin p5-font {
    font-family: "阿里妈妈数黑体 Bold";
    font-weight: 700;
}

@mixin p5-abs-center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

@mixin p5-abs-left-top {
    position: absolute;
    left: 0;
    top: 0;
}

@mixin p5-flex-center {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.text-size-extra-large {
    font-size: $font-size-extra-large;
}

.text-size-large {
    font-size: $font-size-large;
}

.text-size-medium {
    font-size: $font-size-medium;
}

.text-size-small {
    font-size: $font-size-small;
}


.p5-scrollbar {
    &::-webkit-scrollbar {
        background-color: transparent;
        width: 6px;
        height: 6px;
    }

    &::-webkit-scrollbar-thumb {
        height: 4px;
        background-color: $color-white;
    }

    &::-webkit-scrollbar-corner {
        display: none;
    }
}


.back {
    width: 50px;
    height: 30px;
}


.p5-hover-animation-gray {
    position: relative;
    z-index: 1;

    &::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: -1;
    }

    &:hover::before {
        background: $color-gray;
        animation: bgGray 1s ease-out infinite;
    }
}

@keyframes bgGray {
    0% {
        top: 6%;
        transform: skew(-10deg, -2deg) scale(0.9);
    }

    20% {
        top: 3%;
        transform: skew(35deg, 4deg) scale(0.9);
    }

    40% {
        top: -2%;
        transform: skew(-20deg, -2deg) scale(0.95);
    }

    60% {
        top: -4%;
        transform: skew(20deg, 2deg) scale(1);
    }

    80% {
        top: 3%;
        transform: skew(-25deg, -4deg) scale(0.94);
    }

    100% {
        top: 6%;
        transform: skew(-10deg, -2deg) scale(0.9);
    }
}