.p5-input-ctn {
    input {
        width: 16px;
        display: inline;
        margin-left: 4px;
        border: 0;
        border-bottom: 1px solid $color-black;
    }

    input:nth-child(1) {
        margin-left: 0;
    }

}