@mixin p5-slider-thumb($background-url, $rotate) {
    appearance: none;
    width: 16px;
    height: 16px;
    background-image: $background-url;
    background-size: cover;
    transform: rotate($rotate);
}

.p5-slider-ctn {
    // @include p5-flex-center;
    display: inline-flex;
    position: relative;
    padding: 4px;

    .p5-slider-text-left{
        // display: inline-block;
        transform: rotate(-4deg);
    }

    .p5-slider-text-right{
        // display: inline-block;
        transform: rotate(4deg);
    }

    .p5-slider-bg {
        // display: inline-block;
        position: relative;
        width: 100%;
        margin: 0 10px;
        min-width: 100px;
        min-height: 20px;


        .p5-slider-icon{
            position: absolute;
            top: 16px;
            padding: 4px;
            width: 28px;
            text-align: center;
            background-color: $color-black;
            font-size: $font-size-small;
            border-radius: 4px;
        }
        .p5-slider-progress {
            @include p5-abs-center;

            appearance: none;
            margin: 0;
            padding: 0;
            width: 100%;
            height: 2px;
            border-radius: 1px;
            background-color: $color-white;
        }
    }
}

.p5-slider-progress-static::-webkit-slider-thumb {
    @include p5-slider-thumb(url(../images/icon-star-white.png), 60deg);
}

.p5-slider-progress-hover::-webkit-slider-thumb {
    @include p5-slider-thumb(url(../images/icon-star-black.png), 90deg);

}