.p5-slider-ctn {
    img {
        width: 14px;
        height: 14px;
    }
}

.p5-star-rotate {
    animation: star-rotate 1s infinite linear;
}

@keyframes star-rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}